<html>
<body background="https://www.hyperwallet.com/app/uploads/blog_lg-750x330-c-default.png">

<nav class="navbar navbar-default">
    <div class="container-fluid">
      

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a routerLink="banking" >Banking</a></li>
          <li><a routerLink="applycredit">Apply Credit Card</a></li>
          <li><a routerLink="instantdecision">Decision</a></li>
          <li><a routerLink="retrieve">Retrieve Application</a></li>
          <li><a routerLink="status">My Status</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li dd class="dropdown">
            <a class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a routerLink="emplogin">Login</a></li>
                <!-- <li><a routerLink="userlogin">User Login</a></li> -->
              <li role="separator" class="divider"></li>
              <li><a routerLink="logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>
  <router-outlet></router-outlet>