<form>
    <div class="form-row">
        <h3>Check My Application Status</h3>
        <div class="form-group col-md-4">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-4">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group col-md-4">
            <label for="lastName">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
    </div>
    <button class="btn btn-success">Find</button>
</form>