<div class="container">
        <div class="row">
          <div class="Absolute-Center is-Responsive">
   
            <div class="col-sm-12 col-md-10 col-md-offset-1">
              <form >
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" type="email" name='email' placeholder="email"/>          
                </div>
 
                <div class="form-group">
                  <button type="button" class="btn btn-def btn-block btn btn-primary" (click) = "status()">Find my Status</button>
                </div>
           
              </form>        
            </div>  
          </div>    
        </div>
      </div>