<h2>Please fill out the form below to apply for credit card</h2><br>
<h2>Bank of the Universe. We provide services to humans(apr 99%) and aliens(apr 100%)</h2>
<form>
    <div class="form-row">
        <h3>Personal Informations</h3>
        <div class="form-group col-md-4">
            <label for="firstName">First </label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-4">
            <label for="lastName">Middle Name</label>
            <input type="text" class="form-control" name="middleName" id="middleName" placeholder="Middle Name">
        </div>
        <div class="form-group col-md-4">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number">
        </div>
        <div class="form-group col-md-4">
            <label for="social">Social Sercurity#</label>
            <input type="number" class="form-control" name="social" id="social" placeholder="Social Sercurity">
        </div>
        <div class="form-group col-md-4">
            <label for="income">Annual Income</label>
            <input type="number" class="form-control" name="income" id="income" placeholder="Yearly Income">
        </div>
        <div class="form-group col-md-2">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="gender" placeholder="male/female">
        </div>
        <div class="form-group col-md-6">
            <label for="dob">Day of Birth (dd/mm/yyyy)</label>
            <input type="date" class="form-control" name="dob" id="dob" placeholder="DOB">
        </div>
    </div><br>
    <div class="form-row">
        <h3>Address Informations</h3>
        <div class="form-group col-md-12">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" placeholder="Address"><br>
        </div>
        <div class="form-group col-md-4">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" placeholder="City"><br>
        </div>
        <div class="form-group col-md-4">
            <label for="state">State</label>
            <input type="text" class="form-control" name="state" placeholder="State"><br>
        </div>
        <div class="form-group col-md-4">
            <label for="zipCode">Zip Code</label>
            <input type="number" class="form-control" name="zipCode" placeholder="Zip Code"><br>
        </div>
    </div>
    <div class="form-row">
        <h3>Employer Informations</h3>
        <div class="form-group col-md-4">
            <label for="employer">Employer</label>
            <input type="text" class="form-control" name="employer" placeholder="employer"><br>
        </div>
        <div class="form-group col-md-4">
            <label for="employerPhone">Employer Phone </label>
            <input type="tel" class="form-control" name="employerPhone" placeholder="Employer Phone"><br>
        </div>
        <div class="form-group col-md-4">
            <label for="dateFrom">Time Employed there</label>
            <input type="number" class="form-control" name="employDuration" placeholder="How many years?"><br>
        </div>
    </div>
    <button class="btn btn-success">Submit</button>
    <button class="btn btn-primary">Save</button>
</form>