<!-- 

 <div class="container bg-faded"><br>
  <br>
  <br>
  <br>
  <br>
    <div class = "col-lg-5 mx-auto ">
  
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin">
                <div class="form-label-group">
                    <label for="inputEmail">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  
                </div>
  
                <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  
                </div>
  
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                </form>
            </div>
          </div>
  -->
<div class="container">
    <div class="row">
      <div class="Absolute-Center is-Responsive">

        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <form >
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" type="email" name='email' placeholder="email"/>          
            </div>

             
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="password" name='password' placeholder="password"/>          
              </div>

            <div class="form-group">
              <button type="button" class="btn btn-def btn-block btn btn-primary" (click) = "status()">Login</button>
            </div>
       
          </form>        
        </div>  
      </div>    
    </div>
  </div>